.secao
{
    padding: 2%;
    height: 900px;
    background-color: rgba(255, 255, 255, 0.884);
    border: solid 15px rgb(0, 155, 121);
}

.gen
{
    text-align: justify;
    float: right;
    width: 40%;
}

.describe
{
    float: left;
    text-align: justify;
}

.secao p 
{
    font-size: 110%;
    color: black;
    font-family: 'Georgia', serif;
    text-align: justify;
}

.title
{
    float: left;
    width: 60%;
}

.titfilm
{
    float: left;
    width: 83%;
}

.telespec
{
    width: 100%;
    float: left;
}

.opniao p 
{
    font-family: 'Georgia', serif;
    color: black;
}

.cast
{
    float: right;
    width: 40%;
}

.picture
{
    width: 43%;
    float: left;
}